<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Products List</ion-title>
    <!--ion-buttons slot="end">
      <ion-button (click)="showAddForm = true">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons-->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Product Form for Adding or Editing -->
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
      <ion-note slot="error" *ngIf="productForm.get('price')?.hasError('min')">
        Price must be greater than 0.
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input formControlName="price" type="number"></ion-input>
      <ion-note slot="error" *ngIf="productForm.get('price')?.hasError('min')">
        Price must be positive
      </ion-note>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="productForm.invalid">
      {{ editingProduct ? 'Update Product' : 'Add Product' }}
    </ion-button>
    <ion-button
      id="cancel-btn"
      expand="block"
      type="button"
      (click)="cancel()"
      *ngIf="editingProduct"
    >
      Cancel
    </ion-button>
  </form>

  <!-- Products List -->
  <ion-list>
    <!-- Access the signal's value by invoking it as a function -->
    <ion-item *ngFor="let product of products()">
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price | currency:'CLP':'symbol':'1.0-0' }}</p>
      </ion-label>
      <!-- Toggle Bought Status -->
      <ion-button
        fill="clear"
        (click)="toggleBought(product)"
        [attr.id]="isTest ? 'toggle-bought-btn-' + product.id : null"
      >
        <ion-icon
          [name]="product.bought ? 'checkmark-circle' : 'ellipse-outline'"
        ></ion-icon>
      </ion-button>
      <!-- Toggle Favorite Status -->
      <ion-button
        fill="clear"
        (click)="toggleFavorite(product)"
        [attr.id]="isTest ? 'toggle-favorite-btn-' + product.id : null"
      >
        <ion-icon
          [name]="product.favorite ? 'star' : 'star-outline'"
        ></ion-icon>
      </ion-button>
      <!-- Edit Product -->
      <ion-button fill="clear" (click)="editProduct(product)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <!-- Delete Product -->
      <ion-button
        fill="clear"
        (click)="confirmDelete(product.id)"
        color="danger"
        [id]="'delete-btn-' + product.id"
        class="delete-btn"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
